@import "bootstrap";
@import "store";

footer {
    background-color: #1D1D1D;
    ul {
        text-align: center;
    }
    ul li {
        padding: 0px;
        margin: 0px;
        display: inline;
        list-style-type: none;
        color:  white;
    }
}