@import "bootstrap";
@import "store";
@import "categories";
@import "carts";

footer {
    background-color: #1D1D1D;
    color: white;
    p {
        padding: 0px;
        margin: 0px;
    }
}

section#products_categories {
    overflow: hidden;
    ul {

    }

    ul li {
        float: left;
        list-style-type: none;
        margin-left: 30px;

        a {
            text-decoration: none;
            color: black;
        }
    }
}