section#guess_customer_like {
    p {
        text-align: center;
    }

    div.suggest_products {
        div.guess_product_info {
            span {
                position: absolute;
                bottom: 5px;
                left: 73px;
            }

            figure {
                border-radius: 9px;
            }
            
            figure:hover {
                box-shadow: 0 0 70px grey;
            }
        }

        div#navigator_arrow {
            width: 100%;
            margin-left: 15px;
            margin-top: 5px;
            margin-right: 30px;

            div#left_arrow, div#right_arrow {
                cursor: pointer;
            }
        }
    }
}