section#guess_customer_like {
    p {
        text-align: center;
    }
    div.suggest_products {
        div.guess_product_info {
            color: red;
            em.show_price_layer {
                position: absolute;
                background-color: #fff;
                bottom: 0;
                left: 0;
                height: 30px;
                width: 100%;
                opacity: .7;
            }
            span {
                position: absolute;
                bottom: 5px;
                left: 70px;
            }
        }

        div#navigator_arrow {
            width: 100%;
            margin-left: 15px;
            margin-top: 5px;
            margin-right: 30px;

            div#left_arrow, div#right_arrow {
                cursor: pointer;
            }
        }
    }
}