<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
    <p>
        <span class="price"><%= number_to_currency(product.price) %></span>
        <%= button_to 'Add to cart', line_items_path(product_id: product) %>
    </p>
  <% end %>
</ul>