<section class="categories_list" style="display: block;">
  <div class="card">
    <ul>
      <div class="card-body row">
        <% @categories.each do |category| %>
          <li class="col-md-2 col-sm-2"><%= category.name %></li>
        <% end %>
      </div>
    </ul>
  </div>
</section>
<section class="products_list">
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
      <p>
        <span class="price"><%= number_to_currency(product.price) %></span>
        <%= button_to 'Add to cart', line_items_path(product_id: product) %>
      </p>
    <% end %>
  </ul>
</section>